{% include "head.html" %}

<link rel="stylesheet" href="{{url_for('static',filename = 'CSS/base.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'CSS/display.css')}}"
/>
<script
  src="{{url_for('static',filename = 'JavaScript/home.js')}}"
  defer
></script>
<script
  src="{{url_for('static',filename = 'JavaScript/base.js')}}"
  defer
></script>
<title>Home</title>

{% include "navigation.html" %}

<main class="container">
  {% if not allCameras %}

  <h1>No Configured Camera available</h1>

  {% else %}
  <div class="heading">
    <h1>Display</h1>
    <div class="totalCount">
      <i class="fas fa-male"></i>
      <span id="total">Total Count - 0</span>
    </div>
  </div>
  <div class="line-breaker"></div>
  <div class="allGrids">
    {% for camera in allCameras %}

    <div class="grid">
      <div class="Live">
        <div class="icon_live"></div>
        <p>{{camera.get('CameraName')}}</p>
      </div>
      <div class="image">
        <img
          src="{{ url_for('views.video_feed' , id = camera.get('_id') ) }}"
        />
      </div>

      <div class="count">
        <p id="{{camera.get('_id')}}"></p>
      </div>
      <!-- <a href="/config/{{ camera.get('_id') }}">Click Me</a> -->
    </div>

    {% endfor %}
  </div>

  {% endif %}
</main>
<script>
  const list = JSON.parse(`{{allCameras | tojson | safe}}`);

  list.forEach(element => {
    const xhr = new XMLHttpRequest();
    const id = String(element._id);
    const url = `/count_stream/${id}`;
    console.log(url);
    xhr.open("GET", url);
    xhr.send();

    const change = document.getElementById(element._id);

    const display = () => {
      const message = xhr.responseText;
      const l = message.toString();

      change.textContent = `Count :  ${l ? l[l.length - 1] : 0}`;
    };

    setInterval(display, 100);
  });
</script>

{% include "end.html" %}
