{% include "head.html" %}

<link rel="stylesheet" href="{{url_for('static',filename = 'CSS/base.css')}}" />
<link
  rel="stylesheet"
  href="{{url_for('static',filename = 'CSS/report.css')}}"
/>

<script
  src="{{url_for('static',filename = 'JavaScript/base.js')}}"
  defer
></script>
<title>Home</title>

{% include "navigation.html" %} {% if session['logged_in'] %} {% endif %}

<main class="container">
  {% if session['logged_in'] %}
  <h2>The work on this page hasn't been started yet.</h2>
  {% endif %}
</main>

{% include "end.html" %}
